body{
    background-color: rgb(32, 32, 32);
}
.container{
    margin-top: 50px;
    max-width: 600px;
    border: 1px solid rgb(88, 88, 88);
    padding: 20px;
    border-radius: 10px;
    background-color: #afafaf;
    height: auto;

}
.titu{
    font-family: 'Arial Black', sans-serif;
    color: #dbdbdb;
    margin-top: 20px;
}